@charset "UTF-8";
/*
 * Project:Font-spider
 * Comments:首页
 * @author feihuangfu(fufu)
 *
 */
@font-face {
  font-family: 'FZLTCXHJW';
  /*IE*/
  src: url('../font/FZLTCXHJW.eot');
  /*现代浏览器*/
  src:
    url('../font/FZLTCXHJW.eot?#font-spider') format('embedded-opentype'),
    url('../font/FZLTCXHJW.woff') format('woff') 
    url('../font/FZLTCXHJW.ttf') format('truetype'),
    url('../font/FZLTCXHJW.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FZY1JW';
  src: url('../font/FZY1JW.eot');
  src:
    url('../font/FZY1JW.eot?#font-spider') format('embedded-opentype'),
    url('../font/FZY1JW.woff') format('woff') 
    url('../font/FZY1JW.ttf') format('truetype'),
    url('../font/FZY1JW.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


html {font-size:62.5%; font-family: Helvetica, arial, sans-serif; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,hr {margin:0;padding:0}
body{line-height:1.333;font-size:12px}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,textarea,select,button{font-size:12px;font-weight:normal}
input[type="button"],input[type="submit"],select,button{cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:normal}
li {list-style:none}
caption,th {text-align:left}
q:before,q:after {content:''}
abbr,acronym {border:0;font-variant:normal}
sup {vertical-align:text-top}
sub {vertical-align:text-bottom}
fieldset,img,a img,iframe {border-width:0;border-style:none}
img{-ms-interpolation-mode:bicubic}
textarea{overflow-y:auto}
legend {color:#000}
a:link,a:visited {text-decoration:none}

hr{height:0}
label{cursor:pointer}

body {
    height: 100%;
    background: #c82e2e;
}
a{color:#328CE5}
a:hover{color:#2b8ae8;text-decoration:none}
a.hit{color:#C06C6C}
a:focus {outline:none}
.visually_hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
/*公用*/
.inner
{
    max-width: 1000px;
    margin: 0 auto;
}
.card {
    height: 100%;
    background: #FFF;
}

/*头部*/
.header
{
    /*position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;*/
    height: 65px;
    background: #c82e2e;
    padding-top: 40px;
    font-family: 'FZLTCXHJW';
}
.header .logo
{
    display: inline-block;
    width:157px;
    height: 33px;
    background: url("../img/sprite-fontspider.png") 0 0 no-repeat;
}
.header .logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -999em;
}
.header .menu
{
    float: right;
}
.header .menu ul li
{
    float: left;
    margin-left: 55px;
}
.header .menu ul li .menu-item
{
    font-size: 20px;
    color: #fff;
    padding-bottom: 10px;
}
.header .menu ul li a:hover,
.header .menu ul li a.current
{
    background: url("../img/circle-1.png") left bottom repeat-x;
}
.header-min {

}
/*banner*/
.banner
{
    text-align: center;
    background: transparent;
    
}
.banner .inner {
    height: 100%;
}
.banner .banner-img
{
    height: 50%;
    line-height: 50%;
    position: relative;
    margin: 0 auto;
}
.banner .banner-img img {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -120px;
}
.banner .content {
    padding-bottom: 150px;
}
.banner h2
{
    font-size: 70px;
    color: #fff;
    font-weight: normal;
    font-family: 'FZY1JW';
    margin:0 0 40px 0;
}
.banner p
{
    font-size: 30px;
    color: #fff;
    line-height: 50px;
    font-family: 'FZLTCXHJW';
}
.banner .ico-drag
{
    display: inline-block;
    width: 30px;
    height: 65px;
}

.card
{
    text-align: center;
}
.card-a, .card-b {
    padding: 10% 0;
}
.card-a
{
    background: #FFF;
}
.card-b
{
    background: #F8F8F8;
}
.card h3
{
    color: #c22a2a;
    font-family: 'FZY1JW';
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
.card h4 {
    font-family: 'FZLTCXHJW';
}
.card h3 .ico-end-big
{
    background: url("../img/sprite-fontspider.png") -130px -35px no-repeat;
    display: inline-block;
    width: 23px;
    height: 24px;
    vertical-align: bottom;
    margin: 0 0 15px 10px;
}
.card .ct-text-box
{   
    max-width: 800px;
    display: inline-block;
    text-align: left;
    font-size: 30px;
    color: #272727;
    line-height: 70px;
}
.card .ct-text-box > p, .card .ct-text-box > ul, .card .ct-text-box > ol {
    font-family: 'FZLTCXHJW';
}
.card pre
{
    min-width: 700px;
    padding: 5px 20px;
}
.card pre, .card pre code {
    color: #888;
    font-size: 14px;
    line-height: 1.6em;
    background: #000;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
}
.card blockquote {
    margin-bottom: 40px;
    padding: 5px 20px;
    font-size: 14px;
    line-height: 2em;
    background: #F8F8F8;
    color: #888;
}
.card-b blockquote {
    background: #DDD;
}
.card blockquote li {
    padding: 0;
    margin: 0;
    line-height: 2em;
    
}
.card .op
{
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
}
.card .btn
{
    display: inline-block;
    width: 340px;
    height: 75px;
    color:#c22a2a;
    border: 3px solid #c22a2a;
    line-height: 75px;
}
.ct-setup
{
    background: #f8f8f8;
}
.ct-setup .inner
{
    width: 1200px;
}
.ct-setup .ct-text-box
{
    text-align: center;
}
.footer
{
    text-align: center;
    background: #FFF;
    padding-bottom: 40px;
    font-size: 12px;
    color: #989898;
}
.footer .name
{
    color: #c22a2a;
}